{
  "binance": {
    "apiKey": "",
    "secret": ""
  },
  "balance": {
    "panic_below_total": 390
    "panic_countdown_from": 8
  },
  "wave": {
    "min_length": 6,
    "investigate_length": 5,
    "stabilized_threshold": 0.01,
    "max_delta_ms_to_create_order": 500,
    "collect_last_n_wave": 6
  },
  "orders": {
    "orders_disabled": true,
    "test_mode": true,
    "max_nr_orders_limited": true,
    "max_nr_orders_created": 50,
    "base_amount" : 0.0015,
    "skip_order_on_spread_below":  0.2,
    "skip_order_on_spread_above":  10
  },
  "datacollect": {
    "datacollect_disabled": false,
    "dump_batch_size": 2,
    "data_files_path": "./data/",
    "round_prices": 3
  },
  "pricing": {
    "aim_above_min": 0.08,
    "balance_guess": 0.9
  }
}
